ion-label {    
    white-space: normal; 
}
ion-footer ion-button {    
    float: right; 
}
ion-list {    
    padding: 0;    
    background-color: #f3f3f3; 
}
textarea {    
    width: 98%;    
    margin: 0px 10px;    
    padding: 5px;    
    background-color: #fff;    
    font-size: 1.2em;    
    resize: none;    
    border: none; 
}

.chat-message {    
    background-color: #fff;    
    width: 100%;
    padding: 10px;    
    border-radius: 10px;    
    margin: 10px 0; 
}
@keyframes animateInPrimary {
        0% {        
            transform: translate3d(-100%,0,0);    
        }
        100% {        
            transform: translate3d(0,0,0);    
        } 
    }
    @keyframes animateInSecondary{
        0% {        
            opacity: 0;    
        }
        50% {        
            opacity: 0;    
        }
        100% {        
            opacity: 1;    
        }
    }
    .animate-in-primary {   
         animation: animateInPrimary;    
         animation: animateInPrimary;    
         animation-duration: 750ms;
   
    }
    .animate-in-secondary {    
        animation: animateInSecondary ease-in 1;    
        animation: animateInSecondary ease-in 1;    
        animation-duration: 750ms; 
    }
    