<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="assets/images/logo.png" class="logo" /> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let message of messages">
      <ion-avatar [attr.slot]="message.displayName == authService.user.displayName ? 'start' : 'end'"
        class="animate-in-primary">
        <img [src]="message.displayPicture" /> </ion-avatar>
      <div class="chat-message animate-in-secondary"> <strong>{{ message.displayName }}</strong>
        <p>{{ message.message }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <textarea [(ngModel)]="chatMessage" spellcheck="true" autoComplete="true" autocorrect="true" rows="1"
      class="chat-input" placeholder="type message...">
    </textarea>
    <ion-buttons slot="primary">
      <ion-button (click)="sendMessage()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>